body {
	font-family: "Merriweather", "Times New Roman", serif;
	font-size: 18px;
	line-height: 1.5;
	color: #333;
	}

.main {
	max-width: 700px;
	padding-top: 75px;
	margin: 0 auto;

}

h1 {
	font-size: 1.6em;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
	}
